/* 
    Created on : Mar 26, 2014, 3:18:19 PM
    Author     : Ndnam
*/

select, textarea, input {
    margin-bottom: 0;
}

textarea {
    width: 300px;
}

.cell {
    width: 140px;
    margin-left: 20px
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

input.error1, input.error2, input.error3  {
    border: 1px solid red;
    -moz-box-shadow:    0px 0px 3px 0px #f00;
    -webkit-box-shadow: 0px 0px 3px 0px #f00;
    box-shadow:         0px 0px 3px 0px #f00;
}

#sidebar li.error a {
    background: #FF4D7F;
    color: #fff;
}

#sidebar li.error.active a {
    background: #A4629B;
}

#sidebar li.error a:hover {
    /*color: #0088CC;*/
    background: #FF4466;
}

a.error {
    color: red;
}

span.error {
    color: #FF1F6D;
}

.first {
    margin-left: 0px;
}

.box {
    box-shadow: 2px 2px 7px #888888;
    border-radius: 4px;
    padding: 10px 15px;
    width: 400px;
    position: relative;
    margin: 0 0 20px;
}

.btn-apply-project {
    position: absolute;
    right: 20px;
    top: 25px;
}

.box .btn-del-app {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.grid-form table{
    width: 800px;
    margin-bottom: 10px;
}

.grid-form th, .grid-form td {
    height: 20px;
}

.grid-form input, .grid-form textarea, .grid-form select {
    margin: 0;
}

.help-block {
    padding-top: 5px;
}

.form-horizontal .control-group {
    margin-bottom: 8px;
}

legend + .control-group {
    margin-top: 0px;
}

.nav-list > li > a {
    padding: 6px 15px;
}

fieldset {
    position: relative;
}

#profile-pic {
    position: absolute;
    border-radius: 4px;    
    box-shadow: 4px 4px 6px #888888;
}

.profile-pic-holder {
    width: 240px;
    height: 390px;
    position: absolute;
    right: 20px;
    top: 0;
}

.profile-pic-holder .warning {
    margin: 0;
    padding: 8px 10px;
    position: absolute;
    width: 220px;
}

.profile-pic-holder:hover .file-upload {
    display: block;
}

.profile-pic-holder .ajax-loader {
    position: absolute;
    z-index: 10;
    background: #C3C3C3;
    opacity:0.4;
    width: 100%;
}

.profile-pic-holder .ajax-loader img {
    position: absolute;
    width: 50%;
    left: 60px;
    top: 30%;
}

.file-upload {
    position: absolute;
    overflow: hidden;
}

.file-upload form {
    margin: 0;
}

.profile-pic-holder .file-upload {
    box-shadow: 0px 0px 8px 1px #FFFFD4;
    bottom: 64px;
    right: 35px;
    margin: 10px;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);    
    width: 100%;
}

#passport-img {
    display:block;
    width: 480px;    
    padding-top: 36px;
}

.student-photos {
    margin: 40px 0;
}

.photo-box img {
    box-shadow: 4px 4px 6px #888888;
}

.photo-box label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.photo-box#student-photo {
    float: left;
    margin: 0 50px 0 30px;
}

.photo-box#student-photo img {
    max-height: 360px;
    max-width: 360px;
}

.photo-box#passport-photo {
    float: right;
    margin: 0 30px 0 0;
}

.photo-box#passport-photo img {
    max-height: 360px;
    max-width: 480px;
}






