/* 
    Created on : Mar 26, 2014, 3:18:19 PM
    Author     : Ndnam
*/

input.error1, input.error2, input.error3  {
    border: 1px solid red;
    -moz-box-shadow:    0px 0px 3px 0px #f00;
    -webkit-box-shadow: 0px 0px 3px 0px #f00;
    box-shadow:         0px 0px 3px 0px #f00;
}

li.error {
    background: #FF0055;
}

a.error {
    color: red;
}